html , body{
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;

   }
   *{
       box-sizing: border-box;
   }
   #encabezado_principal{
    font-size: 2rem;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: bold;
    text-align: center;

   }
   .encabezado
   {
       border: 0.5rem solid black;
       width: 100%;
       height: 15%;
   }
   .contenido
   {
       border: 0.5rem solid rgb(228, 213, 4);
   }
   .filas{
        border-bottom: 0.2rem solid blue;
        width: 90%;
        height: 50%;
        overflow: scroll;
        overflow-x: auto;
        background: linear-gradient(to top left, #ffcc66 0%, #ffffff 95%);
        margin-bottom: 1rem;
        margin-top: 1rem;
        margin-left: 1rem;;
        
   }
   main{

       width: 100%;
       height: 85%;
       background: linear-gradient(to bottom, #3399ff 0%, #99ccff 100%);
       overflow: scroll;
   }
   .tarjetas
   {
       border: 0.2rem solid black;
       width: 40%;
       height: 16rem;
       float: left;
       border-radius: 1.5rem;
       background: linear-gradient(to right, #ffff00 0%, #ffff99 74%);
       
       margin-left: 2rem;
       margin-right: 2rem;
   }
   .imagen{

       float: left;
       width: 50%;
       height: 100%;
       border-right: 0.2rem solid red;
   }
   .nombre
   {
       width: 50%;
       height: 25%;
       border-bottom: 0.2rem solid blue;
       float:right;
       padding-left: 0.5rem;
   }
   .fecha{
       width: 50%;
       height: 15%;
       border-bottom: 0.2rem solid blue;
       float:right;
       padding-left: 0.5rem;

   }
   .parrafo{
       width: 50%;
       height: 60%;
       float:right;
       padding-left: 0.5rem;
   }
   .estilo1
   {
       font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
       font-weight: bold;
       font-size: 1rem;
   }

   .estilo2
   {
       font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
       font-size: 1rem;
   }
