html,body{
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    background: url('https://cdn.hipwallpaper.com/i/49/5/P3XFVQ.jpg');
    background-size: 100% 100%;
}
*{box-sizing: border-box;}
.Formulario{ font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;}
.Login{
    position: absolute;

    width: 25rem;
    height: 30rem;

    border-radius: 2rem;

    margin-top:8rem;
    left: calc(50% - 25rem/2 );

    background:rgb(190, 225, 236);
}
.inlineblock{display: inline-block};

.letra{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
#Header{
    background: wheat;
    border-radius: 1.5rem;
    margin: 10px;
    padding: 1.5rem;
    text-align: center;
}

#Header a{
    text-decoration: none;
    font-size: 2rem;
    color: white;
}

#Header a::after{
    content: "|";
}
#Header a:last-child::after{
    content: "";
}

#Main label{
    margin-left: 1rem;
    color: whitesmoke;


}
#Main input{
    width: 22rem;
    height: 2.3rem;
    border-radius: 0.5rem;
    margin: 10px;

    margin-left: 1.5rem;

    
    padding-left: 1rem;
    font-family: inherit;
    border: none;
} 
#Main input::placeholder{
    font-style: italic;
}
#Main button{
    margin: 10px;
    margin-left:7rem;
    width: 10rem;
    height: 2.5rem;

    border-radius: 1rem;
    border: none;

    background: hotpink;

    color: white;
    font-size: 1rem;
    
}
.izq{
    margin-left: 10rem;
}
.switch {
    position: relative;
    display: inline-block;
    width: 60px;
    height: 34px;
  }
  
  .switch input { 
    opacity: 0;
    width: 0;
    height: 0;
    content: "YES";
  }
  
  .slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    -webkit-transition: .4s;
    transition: .4s;
  }
  
  .slider:before {
    position: absolute;
    content: "";
    height: 26px;
    width: 26px;
    left: 4px;
    bottom: 4px;
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;
  }
  
  input:checked + .slider {
    background-color: #2196F3;
  }
  
  input:focus + .slider {
    box-shadow: 0 0 1px #2196F3;
  }
  
  input:checked + .slider:before {
    -webkit-transform: translateX(26px);
    -ms-transform: translateX(26px);
    transform: translateX(26px);
  }
  
  /* Rounded sliders */
  .slider.round {
    border-radius: 34px;
  }
  
  .slider.round:before {
    border-radius: 50%;
  }







#Footer{text-align: center;}
#Footer hr{ width: 22rem; border: 1px solid dimgray;}
#Footer a{
    text-decoration: none;
    margin: 15px;
    color:plum;
    font-size: 1.05rem;
}
#Footer h6{
    margin: 10px;
    font-style: oblique;
    color:dimgray;
}


    













